body{
    height: 100%;
}

.table-action-col{
    width: 7rem;
}

.vh-100-min{
    min-height: 100vh !important;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav a.nav-link{
    color: #ffffff;
}

nav .nav a.nav-link.active{
    color: rgb(108, 117, 125);
}